#!/bin/bash

cd /opt/ && go/bin/oauth2_proxy \
 --email-domain="domain.com" \
 --upstream="http://{{ server_upstream }}:{{ server_port }}" \
 --approval-prompt="auto" \
 --redirect-url="http://{{ server_name }}" \
 --cookie-secret=secretsecret \
 --cookie-name="_oauth2_proxy" \
 --cookie-secure=false \
 --provider=google \
 --client-id="{{ client_id }}" \
 --client-secret="{{ client_secret }}"
